In [1]:
import pandas as pd
datasets=pd.read_csv("data_20241228.csv")

In [3]:
datasets

        houjin_num             houjin_name                        address
0    1010001067375  イーコーポレーションドットジェーピー株式会社             東京都中央区日本橋大伝馬町１２番１号
1    1010001067920        株式会社ジェイ・ピー・システムズ  東京都千代田区平河町１丁目３番１３号平河町フロントビル１階
2    1010001070701       パーカッショネア・ジャパン株式会社                東京都港区芝浦２丁目３番３１号
3    1010001074941   シーアンドゼットコミュニケーション株式会社        東京都中央区銀座１丁目１６番地１号東貨ビル９階
4    1010001080436       株式会社日本不動産鑑定パートナーズ              東京都千代田区神田錦町２丁目７番地
..             ...                     ...                            ...
382  9011501013415         株式会社デジタルソリューション                東京都北区上中里２丁目９番１号
383  9012401013439           デリバリーサービス株式会社             東京都府中市若松町３丁目２８番地の７
384  9012801003782              株式会社ニュウイング           東京都立川市上砂町５丁目７５番４号３０３
385  9013401001540             株式会社ファイネックス             東京都多摩市桜ヶ丘１丁目１６番地の６
386  9020001037139               株式会社ユニバース   東京都港区西新橋１丁目２番９号日比谷セントラルビル１４階

[387 rows x 3 columns]