In [1]:
import pandas as pd
import numpy as np

In [2]:
df1=pd.DataFrame(np.arange(9).reshape(3,3))

In [5]:
df1

   0  1  2
0  0  1  2
1  3  4  5
2  6  7  8

In [7]:
df2=pd.DataFrame(np.arange(9).reshape(3,3),index=["a","b","c"],columns=["A","B","C"])

In [8]:
df2

   A  B  C
a  0  1  2
b  3  4  5
c  6  7  8

In [9]:
df2["A"]

a    0
b    3
c    6
Name: A, dtype: int32

In [10]:
df3=pd.DataFrame([])

In [16]:
df3.loc["a","A"]=1

In [17]:
df3

     A
a  1.0