In [2]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\key\appdata\local\programs\python\python310\lib\site-packages (9.1.0)

In [6]:
import mysql.connector

# MySQLに接続
conn = mysql.connector.connect(
    host="localhost",
    user="user001",
    password="mysqluser001"
)

# カーソルを取得
cursor = conn.cursor()

# データベース作成
cursor.execute("CREATE DATABASE IF NOT EXISTS glossarybase")

# 接続を閉じる
#cursor.close()
#conn.close()

In [9]:
# テーブル作成のクエリ
create_table_query = """
CREATE TABLE IF NOT EXISTS glossarybase (
    id INT AUTO_INCREMENT PRIMARY KEY,
    glossary VARCHAR(255) NOT NULL,
    reading VARCHAR(255) NOT NULL,
    omitted VARCHAR(255) NOT NULL,
    detail VARCHAR(255) NOT NULL
)
"""

# テーブル作成
cursor.execute(create_table_query)

# 接続を閉じる
cursor.close()
conn.close()

ProgrammingError: 1046 (3D000): No database selected