In [11]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(6,4),columns=list('ABCD'))
df

          A         B         C         D
0 -1.664738 -0.003448  1.290361 -1.186478
1 -0.680474 -0.783366  1.101369  0.381455
2  1.200221 -0.704214  0.327173 -0.738721
3 -0.419828  1.506767 -1.998433 -0.911541
4  0.149208 -0.186989 -0.401470  0.726343
5  0.386485 -0.738068 -0.101766 -0.425313

In [8]:
type(df)

pandas.core.frame.DataFrame

In [9]:
df.A

0   -0.559924
1   -1.263011
2   -1.019766
3   -0.310077
4   -0.074644
5    0.342743
Name: A, dtype: float64

In [12]:
df['E']=['one','one','two','three','four','three']

In [13]:
df

          A         B         C         D      E
0 -1.664738 -0.003448  1.290361 -1.186478    one
1 -0.680474 -0.783366  1.101369  0.381455    one
2  1.200221 -0.704214  0.327173 -0.738721    two
3 -0.419828  1.506767 -1.998433 -0.911541  three
4  0.149208 -0.186989 -0.401470  0.726343   four
5  0.386485 -0.738068 -0.101766 -0.425313  three

In [14]:
df.E.value_counts()

one      2
three    2
two      1
four     1
Name: E, dtype: int64

In [15]:
df.value_counts()

A          B          C          D          E
-1.664738  -0.003448   1.290361  -1.186478  one      1
-0.680474  -0.783366   1.101369   0.381455  one      1
-0.419828   1.506767  -1.998433  -0.911541  three    1
 0.149208  -0.186989  -0.401470   0.726343  four     1
 0.386485  -0.738068  -0.101766  -0.425313  three    1
 1.200221  -0.704214   0.327173  -0.738721  two      1
dtype: int64